@import 'globals'

@include react-md-everything

*
  box-sizing: border-box

body
  margin: 0

.topnav
  width: 100%
  height: 100%
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center

.topnav__link
  height: 100%

.topnav__link__btn
  height: 100%

.topnav__link__btn--active
  background-color: rgba($md-btn-light-theme-base-color, .20)

.main
  margin-top: $md-toolbar-height
  display: flex
  align-items: center
  justify-content: center

.menunav
  display: none

.menunav__btn
  width: 100%

@media screen and (max-width: 720px)
  .topnav
    display: none
  .menunav
    display: block

.wait-container
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.products
  padding: 20px
  width: 100%
  max-width: 900px

.products__list
  padding: 0

.products__list__card
  padding: 10px
  margin-bottom: 20px

.products__list__card__info
  display: flex
  flex-flow: row wrap
  width: 100%

.products__list__card__img__wrapper
  width: 25%
  padding: 10px 25px

.products__list__card__text__wrapper
  width: 75%

.products__list__card__img
  width: 100%

@media screen and (max-width: 720px)
  .products__list__card__img__wrapper
    width: 100%
  .products__list__card__text__wrapper
    width: 100%
