@import 'globals'

@include react-md-everything

*
  box-sizing: border-box

html, body
  margin: 0
  height: 100%

.topnav
  width: 100%
  height: 100%
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center

.topnav__link
  height: 100%

.topnav__link__btn
  height: 100%

.topnav__link__btn--active, .category-bar__list__link--active > .md-list-item
  background-color: rgba($md-btn-light-theme-base-color, .40)

.main
  display: flex
  align-items: center
  justify-content: center
  height: calc(100% - #{$md-toolbar-height})

.topnav__wrapper
  height: $md-toolbar-height

.menunav
  display: none

.menunav__btn
  width: 100%

@media screen and (max-width: 719px)
  .topnav
    display: none
  .menunav
    display: block

.wait-container
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.products
  padding: 20px
  width: 80%
  max-width: 1200px

.products__list
  padding: 0

.products__list__card
  padding: 10px
  margin-bottom: 20px

.products__grid__card
  padding: 10px
  height: 100%

.products__list__card__info, .products__grid__card__info
  display: flex
  flex-flow: row wrap
  width: 100%

.products__grid__card__img__wrapper
  width: 40%
  padding: 5px 5px 5px 20px

.products__list__card__img__wrapper
  width: 25%
  padding: 10px 25px

.products__list__card__text__wrapper
  width: 75%

.products__grid__card__text__wrapper
  width: 60%

.products__list__card__img, .products__grid__card__img
  width: 100%

.products__list__card__text
  padding-top: 0

@media screen and (max-width: 719px)
  .products__list__card__img__wrapper, .products__grid__card__img__wrapper
    width: 100%
  .products__list__card__text__wrapper, .products__grid__card__text__wrapper
    width: 100%

@media screen and (max-width: 839px)
  .products__toolbar__mode
    display: none

.product-section
  width: 100%
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: flex-start

.category-bar, .category-bar__wrapper
  width: 19%
  margin-right: 10px

.category-bar
  position: fixed
  top: $md-toolbar-height
  bottom: 0

.category-bar__list
  position: absolute
  height: 100%
  width: 100%

.category-bar__list__link
  text-decoration: none
  font-weight: 700

#category-drawer-button
  display: none
  position: fixed
  bottom: 5px
  left: 10px

#category-drawer
  display: none

@media screen and (max-width: 1279px)
  .products
    width: 100%
  .category-bar, .category-bar__wrapper
    display: none
  .product-section
    justify-content: center
  #category-drawer-button, #category-drawer
    display: block

.contact-form__wrapper
  width: 99%
  height: 99%
  max-width: 600px
  padding: 20px
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  overflow: auto

@media screen and (max-width: 719px)
  .contact-form__wrapper
    display: block

.contact-form__paper
  width: 100%

.contact-form__paper
  padding: 40px

.full-height
  height: 100%
  overflow: auto

.contact-form__submit__wrapper
  width: 100%
  display: flex
  justify-content: flex-end

.padded-container
  padding: 50px

.products__toolbar
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.products__toolbar__search
  width: 50%
  min-width: 200px
